<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Game of News</title>
</head>

<body>
  <div id="home-block" class="c-section c-section--primary d-flex flex-column justify-content-center align-items-center">
    <%= htmlWebpackPlugin.options.home %>
  </div>

  <div id='app'></div>

  <div id="content" class="FIRST-DATASET-REQUIRED" style="display: none;">
    <!-- Story block -->
    <div id="story-block" class="c-section c-section--secondary">
      <%= htmlWebpackPlugin.options.story %>
    </div>

    <div id="dashboard-block" class="c-section c-section--secondary">
      <div class="d-flex justify-content-center vert-margin">
        <a href="#story-block" class="btn btn-lg c-section__btn js-trigger">Go to story</a>
        <a href="#home-block" class="btn btn-lg c-section__btn js-trigger">Go to home</a>
      </div>
      <div>
        <h1 id="dashboardIntro">DASHBOARD</h1>
      </div>
      <%= htmlWebpackPlugin.options.dashboard %>
    </div>
  </div>
</body>

</html>
