#dashboardIntro{
  padding: 2rem 0;
  background-color: #dee2e6;
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: 400;
}

#buttonDownloadDataset {
  margin-left: 1em;
}

#restoreDatasetDiv {
  margin-top: 0.5em;
  text-align: center;
}

#dashboardGraphContainer {
  margin-bottom: 1em;
}

#dashboardGraph {
  height: 70vh;
}

#dateTimeWindowSelector {
  display: inline-block;
  width: 12rem;
}

.datePicker {
  margin-top: 0.5em;
  text-align: center;
}
