#buttonDownloadDataset {
  margin-left: 1em;
}

#restoreDatasetDiv {
  margin-top: 0.5em;
  text-align: center;
}

#dashboardGraphContainer {
  margin-bottom: 1em;
}

#dashboardGraph {
  height: 70vh;
}

#dateTimeWindowSelector {
  display: inline-block;
  width: 12rem;
}

.datePicker {
  margin-top: 0.5em;
  text-align: center;
}
