@media screen and (min-width: 60em) {
  .graphParamContainer {
    display: flex;
    flex-wrap: wrap;
    .param {
      min-width: 30rem;
      flex: 1;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

input[type="range"]::-webkit-slider-thumb {
  background-color: #117a8b;
}
