#dashboardStackedGraphContainer {
  svg {
    display: inline-block;
    overflow: visible;
    width: 100%;
  }

  align-items: stretch;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  #dashboardStackedGraphLegend{
    flex:1;
    min-width: 150px;

    #linkToGlobalView {
      font-size: 0.7rem;
      text-align: right;
    }

    .list-group-item{
      font-size: 0.8rem;
      padding-top: 0.5vw;
      padding-bottom: 0.5vw;
    }
  }

  #dashboardStackedGraphPlot{
    flex:5;
    min-width: 650px;
    padding: 0 1.5%;
  }
}
