.StackedGraphContainer {
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .StackedGraphLegend{
    flex:1;
    min-width: 150px;

    .linkToGlobalView {
      text-align: center;
    }

    .list-group-item{
      font-size: 1rem;
      padding-top: 0.5vw;
      padding-bottom: 0.5vw;
    }
  }

  .StackedGraphSources {
    margin-bottom: 0.5em;
  }

  .StackedGraphPlot{
    flex:5;
    min-width: 80%;
    padding: 0 1.5%;

    svg {
      display: inline-block;
      overflow: visible;
      width: 100%;
    }
  }
}
