#intro {
  max-width: 40rem;
  margin: 1rem auto;
  text-align: center;
}

#intro {
  margin-bottom: 320px;
}

#outro {
  height: 640px;
}

#storyGraphContainer {
  margin-bottom: 1em;
}

#storyGraph {
  height: 70vh;
}
