#timeWindowSelector {
    width: 100vw;
    max-width: 960px;
    .axis--grid .domain {
        fill: #ddd;
        stroke: none;
    }
    .axis--x .domain,
    .axis--grid .tick line {
        stroke: #fff;
    }
    .axis--grid .tick--minor line {
        stroke-opacity: .5;
    }
    .out-of-range {
        stroke: orange;
        stroke-width: 3px;
    }
}

#timeWindowSelectorWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
